html {
  background-color: #eee9de;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

body {
  text-align: left;
  margin: 0;
  vertical-align: middle;
  font-weight: normal;
}

div {
  max-width: 25em;
  display: inline-block;
}

img {
  display: block;
  padding: 1em;
  width: 100%;
}

a {
  display: inline-block;
  padding: 1em;
}

.btn {
  text-align: center;
  padding: 2em;
}

nav {
  border: 3px solid #333;
  border-radius: 6px;
  color: #666;
  padding: 1em;
}
