html {
  background-color: #eee9de;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: left;
  font-weight: bold;
}

body {
  text-align: left;
  display: inline-block;
  max-width: 25em;
  margin: 1.5rem;
  vertical-align: middle;
  font-weight: normal;
}

img {
  display: block;
  padding: 1em;
  width: 100%;
}

.btn {
  text-align: center;
  padding: 2em;
}

nav {
  border-radius: 10px;
  border-color: #333;
  color: #666;
}
